@model IEnumerable<GraniteOnlineStore.Models.ProductTypes>

@{
    ViewData["Title"] = "Index";
}
<br/><br/>

<div class="row">
    <div class="col-6">
<h2>Product Types</h2>
    </div>
    <div class="col-6 text-right">
        <a class="btn btn-info" asp-action="Create">
            <i class="fa fa-plus" aria-hidden="true"></i> <!--Plus Icon-->
            &nbsp; New Product Type
        </a>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th class="text-right">
                <label>Operations</label>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-right">
           <partial name="_TableButtonsPartial" model="item.id" />
            </td>
        </tr>
}
    </tbody>
</table>
